@import url(reset.css);

header {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 99vw;
    margin-left: 2px;
    height: 20vh;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.6);;
    background: brown;
}
main {
    display: flex;
    flex-flow: column nowrap;
    width: 95vw;
    height: 325vh;
}
a {
    color: white;
}
a:hover {
    color: mediumaquamarine;
    transform: scale(1.2);
    
}
h1 {
    margin-top: 2%;
    display: flex;
    width: 95vw;
    height: 20vh;
    justify-content: center;
    text-align: middle;
    font-size: 5em;
    font-weight: bolder;
}
img[src="Media/plombier content.jpeg"] {
position: absolute;
bottom: 10%;
right: 75%;
}
img[src="Media/plombier heureux.jpeg"] {
    position: absolute;
    bottom: 10%;
    left: 73%;
}
img[src="Media/plombier fail.jpg"] {
    position: absolute;
    bottom: 10%;
    left: 40%;
}
h2 {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    width: 95vw;
    height: 20vh;
    text-align: middle;
    font-size: 5em;
    font-weight: bolder;
}
img[src="Media/qualitatif.jpeg"] {
    position: absolute;
    top: 135%;
    right: 40%;
}
img[src="Media/organisé.jpg"] {
    position: absolute;
    top: 135%;
    left: 5%;
}
img[src="Media/qualité.jpeg"] {
    position: absolute;
    top: 135%;
    right: 5%;
}
h3 {
    display: flex;
    margin-top: 30%;
    width: 95vw;
    height: 20vh;
    justify-content: center;
    text-align: middle;
    font-size: 5em;
    font-weight: bolder;
}
img[src="Media/salle de bain.jpeg"] {
    position: absolute;
    top: 220%;
    left: 5%;
}
img[src="Media/évier de qualité.jpeg"] {
    position: absolute;
    top: 220%;
    right: 5%;
}

img[src="Media/fail.jpeg"] {
    position: absolute;
    top: 220%;
    right: 40%;
}
h4 {
    display: flex;
    margin-top: 35%;
    width: 95vw;
    height: 20vh;
    justify-content: center;
    text-align: middle;
    font-size: 5em;
    font-weight: bolder;
}
footer {
    display: flex;
    align-items: middle;
    text-align: middle;
    justify-content: space-around;
    width: 99vw;
    height: 20vh;
    margin-left: 2px;
    background-color: black;
}
h5 {
    color: deeppink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
    text-align: center;
}
li {
    display: block;
    justify-content: space-around;
    margin-left: 2em;

}
.avisb {
    margin-top: 1em;
}
.avisc {
    margin-top: 1em;
}
.avisd {
    margin-top: 1em;
}